<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


        <!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/rastreabilidade</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		
		<!--Configuracoes  -->
		<!--
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>-->
		<!-- C3P0 connection pool
		<property name="c3p0.min_size">8</property>
		<property name="c3p0.max_size">15</property>
		<property name="c3p0.timeout">2400</property>
		<property name="c3p0.max_statements">30</property>
		<property name="c3p0.idle_test_period">1300</property>
		<property name="hibernate.c3p0.timeout">120</property> -->
         
       <!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">5</property>  
        <!-- SQL dialect   -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>  
        <!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>     
        <!-- Echo all executed SQLs to stdout -->
		<property name="show_sql">true</property>
		<!--
			Statisticas <property
			name="hibernate.generate_statistics">true</property>
		-->
    		    		
    	<!--	<property name="format_sql">true</property>-->
    	

		<mapping class="model.entity.hibernate.Cidade" />
		<mapping class="model.entity.hibernate.Cidade" />
		
		<mapping class="model.entity.hibernate.Historico" />
		<mapping class="model.entity.hibernate.LoteTerra" />
		<mapping class="model.entity.hibernate.LoteVegetal" />
	
		<mapping class="model.entity.hibernate.Produto" />
		<mapping class="model.entity.hibernate.SetorPlantio" />
		<mapping class="model.entity.hibernate.TipoHistorico" />
		<mapping class="model.entity.hibernate.TipoProduto" />
		<mapping class="model.entity.hibernate.Uf" />
		<mapping class="model.entity.hibernate.Usuario" />
		<mapping class="model.entity.hibernate.UnidadeMedida" />
		
	</session-factory>
</hibernate-configuration>